body {
  background-color: black;
  color: white;
  text-align: center;
}

.page-view-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 6px;
}

.header {
  grid-column: 1/-1;
  background-color: rgb(0, 118, 139);
  border-radius: 10px;
}

.nav-bar {
  background-color: darkblue;
  border-radius: 10px;
}

.main {
  background-color: darkblue;
  grid-column: 2/-1;
  min-height: 450px;
  border-radius: 10px;
}

.footer {
  grid-column: 1/-1;
  background-color: rgb(0, 118, 139);
  border-radius: 10px;
}

.text-link {
  color: white;
}

.view-content {
  display: none;
}

.view-content.active {
  display: block;
}

input :invalid :required {
  border: 2px solid red;
}
